.cart-item {
    display: flex;
    flex: 1 1 0px;
    justify-content: space-between;
    padding: 1em .5em;
    border-bottom: 2px solid;
}

.cart-item__image {
    max-width: 40%;
    min-height: 100px;
    width: 100%;
    max-height: 125px;
}

.cart-item__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 40%;
}

.cart-item__title {
    margin: 0;
    font-weight: normal;
}

.cart-item__price {
    align-self: center;
    width: 100%;
    max-width: 20%;
}
